/* pages/foodlist/index.wxss */
.header {
  background-color: white;
  padding: 8rpx 16rpx;
  height: 80rpx;
  display: flex;

  .search {
    flex: 3;

    input {
      height: 100%;
    }
  }

  .btn {
    text-align: center;

    flex: 1;
    button {
      width: 200rpx;
    }
  }
}
